

/*
RED   #dd4e58;
GREEN #b6ffe3;
*/


.centered{
	margin: 0 auto;
	display: block;
	text-align: center;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

p {
	color: #292929;
	font-family: 'Raleway', sans-serif;
}

.body-txt{
	font-size: 16px;
}

/*=========== FOOTER ==============*/

#footer{
	background-color: #b6ffe3;
	padding: 5em 0;
	text-align: left;
}

.footer-LN{
	font-weight: 700;
	font-size: 26px;
}

.address{
	font-size: 15px;
}

.footer-title{
	font-weight: 700;
	font-size: 18px;
	margin-top: 30px;
}

.phone-number{
	font-size: 15px;
}

.fa-instagram, .fa-facebook{
	 font-size: 35px !important;
	 margin-top: 30px;	
    padding-right: 25px;
}

.fa-facebook{
	font-size: 30px !important;
}

.fa-instagram:hover, .fa-facebook:hover{
	 color: dimgrey;
}

.footer-days {
    margin-top: 35px;
	font-weight: 700;
}

.footer-hours{
	line-height: 1px;
}

.monday{
	margin-top: 0px
}

.footer-logo{
	width: 100%;
	max-width: 40px;
	position: absolute;
	display: none;
}

@media (min-width: 600px) {
	.footer-logo{
		width: 100%;
		max-width: 150px;
		display: block;
	}
}

/*=========== NAV ==============*/

ul {
    margin: 0;
    padding: 0;
}

li{
	margin-left: 25px !important;
}

.nav-li {
   display: inline;
	float: right;
}


.nav-txt{
    display: block;
    padding: 8px;
	 text-decoration: none;
	 font-size: 15px;
	 font-weight: bolder;
	 color: white;
}

.nav-txt:hover{
	color:#b6ffe3;
	text-decoration: none;
	background: none !important;
}

.nav-txt:focus {
   background: none !important;
	color: #b6ffe3;
}

.nav{
    position: absolute;
    z-index: 99;
    right: 40px;
    top: 20px;
	 text-decoration: none;
	 width: 100%;
}

@media (max-width: 850px) {
  .nav{
   	display: none;
  }
}

.nav-sm{
	position: fixed;
   z-index: 99;
   right: 30px;
   top: 20px;
	width: 33px;
}

@media (min-width: 851px) {
  .nav-sm{
   	display: none;
  }
}

.logo-nav{
	position: absolute;
   top: 1.5em;
   left: 1.5em;
   z-index: 100;
   width: 100px;
}

.fancy-font{
	font-family: 'Vibur', cursive;
}

/*=========== xxxxxxx ==============*/








