/*
RED   #dd4e58;
GREEN #b6ffe3;
*/

body{
	background-color: #b6ffe3 !important;
}

/*=========== TOP ==============*/
.chinese-header{
	 margin-top: 15vh;
    font-size: 45px;
    color: white;
}

.menu{
	font-weight: 700;
   font-family: 'Raleway', sans-serif !important;
   color: white;
   font-size: 46px;
	margin-top: -10px;
}

.lucky-noodle{
	font-size: 45px;
	font-weight: 900;
	font-family: 'Raleway', sans-serif !important;
	line-height: 1.3em;
	color: white;
}

.top{
	width: 100%;
	height: 40vh;
/*	background-color:#b6ffe3!important; */
	background-image: url(../img/menu-header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.overlay{
	width: 100%;
	position: absolute;
	top: 0;
	height: 45vh;
}

/*=========== Page 1 ==============*/

.comingsoon-section{
	background-color: white;
	height: 100vh;
}

.comingsoon-content{
	top: 40vh;
}

.icon-subtitle{
	text-align: center;
	font-size: 35px;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
	margin-top: 25px;
}

.pd-icon{
	width: 100%;
	max-width: 150px;
	cursor: pointer;
}

.vs-txt{
	font-size: 45px;	
	margin-top: 1.5em;
	font-weight: bolder;
}







